# dependencies
node_modules/

# environment variables
.env

# build output (opcional pero recomendado)
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/
